form.tlc {
  margin-left: 15px;
  width: 100%;
  max-width: 750px;
}

form.tlc div.label {
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
}

form.tlc div.info,
form.tlc div.warning{
  font-weight: 200;
  margin-left: 30px;
  margin-bottom: 5px;
}

form.tlc div.warning {
  color:#800;
}

form.tlc span.info {
  font-weight: 200;
  font-size: smaller;
}
  

form.tlc div.info ul {
  margin-left: 20px;
  margin-top:5px;
}

form.tlc div.info ul li {
  margin-top:0px;
  margin-bottom:0px;
}

form.tlc div.input {
  margin-left: 30px;
}

form.tlc input.submit {
  margin-top:20px;
}

form.tlc input.tls-time {
  max-width: 4em;
  text-align: center;
}

form.tlc span.input-label {
  font-weight:bold;
}

form.tlc span.input-info {
  margin-left: 5px;
  font-weight:200;
}

form.tlc div.new-survey span.year {
  margin-left:1.5rem;
  display:none;
}

form.tlc div.new-survey span * {
  vertical-align: middle;
}

form.tlc div.new-survey input.year {
  width:100px;
}

form.tlc .settings {
  margin-left:3em;
  margin-top:10px;
}

form.tlc table {
  border-collapse:collapse;
}

form.tlc table td.name {
  font-weight:bold;
  text-align:right;
}

form.tlc table td.cap {
  font-weight:bold;
}

form.tlc table div.cap {
  text-align:center;
}

form.tlc table th {
  border-bottom: 1px solid;
  padding-left:5px;
  padding-right:5px;
}

form.tlc table td {
  margin:3px;
  padding-top:10px;
}

div.tlc-survey-status div.info
{
  margin-left:3em;
}
div.tlc-survey-status div.warning
{
  color:#800;
}

span.tlc-status {
  margin-left:20px;
  padding-left:10px;
  padding-right:10px;
  font-weight:200;
  background:yellow;
  color:black;
  border:solid;
  border-width:1px;
  border-color:lightgray;
}

div.tlc-overview div,
div.tlc-overview table
{
  margin-left:15px;
}

div.tlc-overview h1,
div.tlc-overview h2,
div.tlc-overview h3
{
  margin-left:0px;
  margin-top:25px;
  margin-bottom:8px;
}

div.tlc-overview li
{
  list-style-type: initial;
}

div.tlc-overview table {
  margin-left:15px;
}

div.tlc-overview table td.label {
  font-weight: bold;
  vertical-align: top;
}

div.tlc-overview table td.value {
  padding-left:15px;
  font-weight:200;
}

div.tlc-overview table tr.heading {
}

div.tlc-overview table tr.heading td {
  font-weight:500;
  font-size:large;
  padding-top:15px;
  padding-bottom:5px;
}

div.tlc-overview table td.id {
  padding-left:20px;
  font-weight:500;
}

div.tlc-overview table table.admins td.username
{
  font-weight:bolder;
  text-align:right;
}

div.tlc-overview table table.years td.year
{
  width:3em;
  font-weight:bolder;
  text-align:left;
}

div.tlc-overview table table.admins td.usercaps
div.tlc-overview table table.years td.status
{
  padding-left:1em;
}

div.tlc-log {
  margin-left:15px;
  margin-top:15px;
  border-width:1px;
  border-color:black;
  border-style:solid;
  overflow-y:scroll;
  width:95%;
  height:500px;
}

div.tlc-log table {
  table-layout: auto;
  width:100%;
}

div.tlc-log tr.warning td {
  color:#e88010;
}

div.tlc-log tr.error td {
  color:#a00000;
}

div.tlc-log tr.info td {
  color:#0000a0;
}

div.tlc-log td.date {
  white-space:nowrap;
}

div.tlc-log td.message {
  padding-left:5px;
  font-weight:600;
  width:100%;
}

div.tlc-log tr:nth-child(odd) {
  background: white;
}

div.tlc-log tr:nth-child(even) {
  background: #e0e0e0;
}


.tlc-shortcode-info {
  margin-top:10px;
  font-weight:bolder;
}

.tlc-shortcode-note {
  margin-left:15px;
  font-weight:400;
  font-style:italic;
}

.tlc-shortcode-args {
  margin-left:15px;
}

.tlc-shortcode-arg {
  font-weight:bolder;
  margin-top:10px;
}

.tlc-shortcode-arg-info {
  margin-left:15px;
  font-weight:400;
}

.tlc-shortcode-example {
  padding-top:8px;
}

.tlc-shortcode-example span {
  font-family: monospace;
  font-weight: bolder;
  font-size: medium;
  margin-left: 15px;
  padding: 4px;
  color: black;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

noscript.warning p {
  font-weight:bold;
  font-size:large;
  color:#c00000;
}

.requires-javascript {
  display:none;
}


