#tlc-ttsurvey {
  background-color:white;
  color:black;
}

#tlc-ttsurvey div.noscript {
  font-family: sans-serif;
  width: 100%;
  font-size: larger;
  font-weight: bold;
  color: white;
  background-color: brown;
  padding: 5px 10px;
}

#tlc-ttsurvey p.noscript {
  color: brown;
  margin-top:0;
  margin-left:1em;
}

#tlc-ttsurvey form.resume li {
  list-style-type: none;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
  width: 300px;
  height:60px;
  margin-top:3px;
}

#tlc-ttsurvey form.resume li button {
  background:#f8f8f8;
  color:black;
  width:100%;
  height:100%;
  font-weight:bold;
  margin:0;
  padding:0;
}

#tlc-ttsurvey form.resume li button:hover {
  background:#e0ffe0;
}

#tlc-ttsurvey form.resume li button:active {
  background:#a0ffa0;
  transform:translate(2px,2px)
}

#tlc-ttsurvey form.login input.w3-input
{
  width:90%;
  border-left:none;
  border-right:none;
  border-top:none;
}
#tlc-ttsurvey form.senduserid input.w3-input
{
  width:100%;
}

#tlc-ttsurvey form .info-trigger {
  display:none;
  margin-left:10px;
}

#tlc-ttsurvey form .info-test {
  display:none;
  margin-left:10px;
}

#tlc-ttsurvey form .input{
  margin-top:16px;
}

#tlc-ttsurvey form .input{
  margin-top:16px;
}

#tlc-ttsurvey .login_form.senduserid .input {
  margin-top:0;
}
#tlc-ttsurvey .login_form.senduserid .w3-input {
  width:100%;
}


#tlc-ttsurvey .instruction
{
  padding:8px 0 0 0;
  color:gray;
}

#tlc-ttsurvey form .info
{
  margin:0 0 0 25px;
  padding:8px;
  width:80%;
}

#tlc-ttsurvey form .info p
{
  margin:0;
  font-size:small;
}

#tlc-ttsurvey form .info .info-list
{
  margin-left:10px;
}

#tlc-ttsurvey form .info .info-list::before
{
  content:"> ";
  color:gray;
}
