div.tlc-ttsurvey div.noscript {
  font-family: sans-serif;
  width: 100%;
  font-size: larger;
  font-weight: bold;
  color: white;
  background-color: brown;
  padding: 5px 10px;
}

div.tlc-ttsurvey p.noscript {
  color: brown;
  margin-top:0;
  margin-left:1em;
}

div.tlc-ttsurvey form
{
  margin-left:3em;
}

div.tlc-ttsurvey form input[type=submit]
{
  border-radius:12px;
  margin-top:5px;

  padding-left:3em;
  padding-right:3em;
}

div.tlc-ttsurvey form input[type=submit]:hover
{
  margin-left:-1em;
}

div.tlc-ttsurvey form input:invalid
{
  background:lightpink;
}

div.tlc-ttsurvey form table
{
  width:auto;
  border-style:none;
}

div.tlc-ttsurvey form tr
{
  border-style:none;
}

div.tlc-ttsurvey form td
{
  width:auto;
  border-style:none;
  padding-left:5px;
  padding-right:5px;
  padding-top:0;
  padding-bottom:0;
}

div.tlc-ttsurvey form td.label
{
  font-weight:bold;
  text-align:right;
  font-size:larger;
}

div.tlc-ttsurvey form p.info
{
  margin-top:0;
  margin-bottom:0;
}

div.tlc-ttsurvey form input[type=text]
{
  font-weight:bold;
  font-size:large;
  width:6em;
}

div.tlc-ttsurvey form input[type=email]
{
  font-weight:bold;
  font-size:large;
  width:18em;
}

div.tlc-ttsurvey form input.name
{
  width:18em;
}


