/*******************************************************************************
 *******************************************************************************
 **
 ** Login Forms
 **  prefixing #login with div was necessary to bump the
 **  specificity match for a number of the selectors.  Rather than having
 **  a mashup of selectors with and without the div prefix (and having to
 **  spend the time to figure out which do and which don't need it), it
 **  is simply added to all of the #login selectors.
 **
 *******************************************************************************
 *******************************************************************************/

/**
 * div containing a login form (class = login_form)
 **/

#tlc-ttsurvey #login {
  width:min(100%,480px);
  margin:0;
  padding:0;
  border:1px solid #607d8b;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (min-width:480px) {
  #tlc-ttsurvey #login
  { 
    width:min(100%,600px);
    margin:0 auto;
  }
}

#tlc-ttsurvey #login header {
  padding:0;
  color:#fff;
  background-color:#607d8b;
  font-size:x-large;
  font-weight:700;
  padding:5px 16px;
}

#tlc-ttsurvey #login form {
  background-color:#e8e8e8;
  margin:0;
  padding:12px 16px;
}

/**
 * Form elements
 **/

#tlc-ttsurvey #login form div.input {
  position:relative;
  margin-top:8px;
  margin-left:1em;
  margin-right:1em;
}

#tlc-ttsurvey #login form div.input.remember {
  display:flex;
  align-items:center;
}

#tlc-ttsurvey #login form div.info-box {
  width:80%;
}

#tlc-ttsurvey #login form div.info {
  margin-left:3em;
  margin-right:2em;
  width:100%;
}

#tlc-ttsurvey #login form .input div.label {
  padding:0;
  position:relative;
}

#tlc-ttsurvey #login form .input div.error {
  float:right;

  color:#c00000;
  font-size:x-small;
  display:none;
  position:absolute;
  bottom:0;
  right:0;
}

#tlc-ttsurvey #login form input.text-entry {
  display:block;
  padding:8px;
  margin-left:1em;
  width:calc(100% - 2em);

  border:none;
  border-bottom:1px solid #ccc;
}

#tlc-ttsurvey #login form input.invalid {
  background-color:#ffdddd;
}

#tlc-ttsurvey #login form input.empty {
  background-color:#ffffcc;
}

#tlc-ttsurvey #login .submit-bar button {
  box-sizing: border-box;

  border:none;
  display:inline-block;
  padding:8px 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;

  transition:opacity 0s;
}

#tlc-ttsurvey #login .submit-bar button.right {
  float:right;
  margin-left:16px;
}

#tlc-ttsurvey #login .submit-bar button.full {
  width:100%;
}

#tlc-ttsurvey #login .submit-bar {
  width:100%;
  overflow:hidden;
}

#tlc-ttsurvey #login .submit-bar button.submit {
  color:#fff!important;
  background-color:#607d8b!important;
}

#tlc-ttsurvey #login .submit-bar button.cancel {
  color:#000!important;
  background-color:#f1f1f1!important;
}

#tlc-ttsurvey #login .submit-bar button:active  {
  opacity:0.5;
}

#tlc-ttsurvey #login .submit-bar button:hover  {
  color:#000!important;
  background-color:#ccc!important;
}

#tlc-ttsurvey #login .submit-bar button:disabled  {
  cursor:not-allowed;
  opacity:0.3;
}

#tlc-ttsurvey #login .links-bar {
  padding:0 16px;
  margin-top: 8px;
  margin-bottom:0;
}

#tlc-ttsurvey #login .links-bar:after,
#tlc-ttsurvey #login .links-bar:before {
  content:"";
  display:table;
  clear:both;
}

#tlc-ttsurvey #login .links-bar div.left { float:left; }
#tlc-ttsurvey #login .links-bar div.right { float:right; }
  


#tlc-ttsurvey #login form.login div.recovery {
  display:none;
}

/**
 * Login Form
 **/

#tlc-ttsurvey #login.login .resume-label {
  margin-top:0;
  font-weight:bold;
}

#tlc-ttsurvey #login.login .resume-box {
  margin:1em;
}

#tlc-ttsurvey #login.login .resume-box .button-box{
  width:100%;
  position:relative;
  margin-bottom:3px;
}

#tlc-ttsurvey #login.login .resume-box button {
  width:100%;
  z-index:1;
}

#tlc-ttsurvey #login.login .resume-box button .username {
  font-weight:bold;
  text-align:left;
  margin:5px 0 0 8px;
}

#tlc-ttsurvey #login.login .resume-box button .userid {
  font-size:small;
  text-align:left;
  margin:-3px 0 5px 8px;
}

#tlc-ttsurvey #login.login .resume-box div.forget {
  position:absolute;
  top:5px;
  right:5px;
  font-size:small;
  z-index:2;
}

#tlc-ttsurvey #login.login .resume-box div.forget img {
  height:12px;
  width:12px;
}

/**
 * Recovery Form
 **/

#tlc-ttsurvey #login.recovery div.input {
  margin-top:0;
}

/**
 * Password Reset Form
 **/

#tlc-ttsurvey #login.pwreset div.input {
  margin-top:0;
}

/**
 * Resume Form
 **/

#tlc-ttsurvey #login.resume-login form li {
  list-style-type: none;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
  width: 300px;
  height:60px;
  margin-top:3px;
}

#tlc-ttsurvey #login.resume form li button {
  background:#f8f8f8;
  color:black;
  width:100%;
  height:100%;
  font-weight:bold;
  margin:0;
  padding:0;
}

#tlc-ttsurvey #login.resume form li button:hover {
  background:#e0ffe0;
}

#tlc-ttsurvey #login.resume form li button:active {
  background:#a0ffa0;
  transform:translate(2px,2px)
}


