#tlc-ttsurvey {
  color:black;
}

#tlc-ttsurvey noscript > div {
  background:white;
  border-width:1px;
  border-style:solid;
  margin-bottom:2em;
}

#tlc-ttsurvey noscript div.noscript.header {
  font-family: sans-serif;
  font-size: larger;
  font-weight: bold;
  color: white;
  background-color: brown;
  padding: 5px 10px;
}

#tlc-ttsurvey noscript div p {
  color: brown;
  margin: 15px 1em;
}

#tlc-ttsurvey div.javascript-required {
  display: none;
}

#tlc-ttsurvey #status-message {
  width: fit-content;
  margin: 15px 0;
  padding: 3px 15px;
}

#tlc-ttsurvey #status-message.info {
  /* w3-pale-blue */
  color:#000!important;
  background-color:#ddffff!important;
  /* w3-border-blue */
  border-color:#2196F3!important;
}

#tlc-ttsurvey #status-message.warning {
  /* w3-pale-yellow */
  color:#000!important;
  background-color:#ffffcc!important;
  /* w3-border-orange */
  border-color:#ff9800!important;
}

#tlc-ttsurvey #status-message.error {
  /* w3-pale-red */
  color:#000!important;
  background-color:#ffdddd!important;
  /* w3-border-red */
  border-color:#f44336!important;
}

#tlc-ttsurvey div.instruction
{
  padding:8px 0;
  color:gray;
  line-height:normal;
}

#tlc-ttsurvey div.info
{
  background-color:#fff;

  margin:5px 0 0 0;
  padding:8px;
  width:100%;
}
@media (min-width:480px)
{
  #tlc-ttsurvey div.info
  {
    margin:5px 0 0 25px;
    padding:8px;
    width:80%;
  }
}

#tlc-ttsurvey form .info p
{
  margin:0 0 5px 0;
  font-size:small;
  line-height: 1rem;
}

#tlc-ttsurvey form .info .info-list
{
  margin-left:10px;
  margin-bottom:0;
}

#tlc-ttsurvey form .info .info-list::before
{
  content:"> ";
  color:gray;
}

#tlc-ttsurvey form .info-trigger {
  display:none;
  margin-left:10px;
}
