#tlc-ttsurvey {
  color:black;
  font-family:ui-sans-serif, Arial, Helvetica, sans-serif;
}

#tlc-ttsurvey noscript > div {
  background:white;
  border-width:1px;
  border-style:solid;
  margin-bottom:2em;
}

#tlc-ttsurvey noscript div.noscript.header {
  font-family: sans-serif;
  font-size: larger;
  font-weight: bold;
  color: white;
  background-color: brown;
  padding: 5px 10px;
  position: relative;
}

#tlc-ttsurvey noscript div.noscript.header input {
  font-size:smaller;
  font-weight:100;
  position:absolute;
  right:5px;
  padding:0 5px;
}

#tlc-ttsurvey noscript div p {
  color: brown;
  margin: 15px 1em;
}

#tlc-ttsurvey p.noscript {
  color:brown;
}


#tlc-ttsurvey div.javascript-required {
  display: none;
}

#tlc-ttsurvey div.instruction
{
  padding:8px 0;
  color:gray;
  line-height:normal;
}

#tlc-ttsurvey div.info
{
  background-color:#fff;

  margin:5px 0 0 0;
  padding:8px;
  width:100%;
}
@media (min-width:480px)
{
  #tlc-ttsurvey div.info
  {
    margin:5px 0 0 25px;
    padding:8px;
    width:80%;
  }
}

#tlc-ttsurvey form .info p
{
  margin:0 0 5px 0;
  font-size:small;
  line-height: 1rem;
}

#tlc-ttsurvey form .info .info-list
{
  margin-left:10px;
  margin-bottom:0;
}

#tlc-ttsurvey form .info .info-list::before
{
  content:"> ";
  color:gray;
}

#tlc-ttsurvey form .info-trigger {
  display:none;
  margin-left:10px;
}

/**
 * status message
 **/

#tlc-ttsurvey #status-message {
  width: fit-content;
  margin: 15px 0;
  padding: 3px 15px;
  border:1px solid;
  border-left:6px solid;
}

#tlc-ttsurvey #status-message.info {
  color:#000!important;
  background-color:#ddecff!important;
  border-color:#2196F3!important;
}

#tlc-ttsurvey #status-message.warning {
  color:#000!important;
  background-color:#ffe8d2;
  border-color:#ff9800;
}

#tlc-ttsurvey #status-message.error {
  color:#000!important;
  background-color:#ffdddd!important;
  border-color:#f44336!important;
}

#tlc-ttsurvey #status-message.none {
  display:none;
}

#tlc-ttsurvey #status-message.card {
  padding: 0 16px;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#tlc-ttsurvey #status-message img {
  margin:16px;
}

#tlc-ttsurvey #status-message span,
#tlc-ttsurvey #status-message p {
  font-weight:500;
  font-size:x-large;
  margin:16px;
}

