@media (min-width:480px) {
  #tlc-ttsurvey {
    min-width:480px;
  }
}

#tlc-ttsurvey #survey {
  --hover-color: #72aee6;
  --background-color:#d8d8d8;
}

#tlc-ttsurvey #survey {
  position:relative;
  border-style:solid;
  border-width:1px;
  background-color:var(--background-color);
  padding: 35px 8px 8px 8px;
}

