/*******************************************************************************
 *******************************************************************************
 **
 ** Survey Content
 **
 *******************************************************************************
 *******************************************************************************/

#tlc-ttsurvey #survey {
  border-style:solid;
  border-width:1px;
  background-color:white;
  padding:8px;
}


/**
 * Menubar
 **/

#tlc-ttsurvey #survey .menubar {
  position:absolute;
  box-sizing:border-box;
  top:0;
  left:0;
  width:100%;
  padding:0 8px;
  z-index:3;

  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  color:white;
  background-color:black;
}

#tlc-ttsurvey #survey .menubar .menuitem {
  font-size:smaller;
  padding:3px 0;
}

#tlc-ttsurvey #survey .menubar .menuitem.survey {
  font-weight:bolder;
}

#tlc-ttsurvey #survey .menubar .menuitem.status:hover,
#tlc-ttsurvey #survey .menubar .menuitem.user:hover
{
  color:#72aee6;
}

#tlc-ttsurvey #survey div.spacer {
  position:static;
  height:2em;
  z-index:1;
  background-color:unset;
}

#tlc-ttsurvey #survey .menubar .menuitem .menu
{
  display:none;
  position:absolute;
  background-color: #2c3338;
  color:white;
  font-size:small;
  padding:3px 15px 5px 15px;
  right:0;
}

#tlc-ttsurvey #survey .menubar .menuitem.user:hover > .menu {
  display:block;
}

#tlc-ttsurvey #survey .menubar .menuitem .menu a {
  text-decoration:none;
}

#tlc-ttsurvey #survey .menubar .menuitem .menu ul {
  list-style-type: none;
}

#tlc-ttsurvey #survey .menubar .menuitem .menu li {
  margin:5px 0;
}

#tlc-ttsurvey #survey .menubar .menuitem .menu li:hover {
  color:#72aee6;
}



/*
#tlc-ttsurvey div.menubar {
  box-sizing:border-box;
  width:100%;
  padding:3px 8px;
  border-bottom-style: solid;
  border-bottom-color: unset;
  border-bottom-width: 5px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  background-color:black;
}

#tlc-ttsurvey .menubar .menuitem {
  color:white;
}

#tlc-ttsurvey .menubar .survey-name {
  font-weight:bolder;
}

#tlc-ttsurvey-menu input.toggle {
  display:none;
}

#tlc-ttsurvey .menubar .user-menu {
  padding-left:3px;
}

#tlc-ttsurvey-menu .user-menu .menu {
  display:none;
  position:absolute;
  right:0;
  border-style:solid;
  border-color:black;
  border-width:1px;
  padding:15px;
  color:black;
  background-color:white;
  flex-direction:column;
}

#tlc-ttsurvey .menubar .user-menu:hover div.menu {
  display:flex;
}

#tlc-ttsurvey-menu #user-menu-toggle:checked ~ div.menu {
  display:flex;
}

#tlc-ttsurvey-menu div.profile-editor {
  display:none;
}

#tlc-ttsurvey-menu #profile-editor-toggle:checked ~ .profile_editor {
  display:absolute;
}
*/
