/** 
 * Common to all tabs
 **/

#tlc-ttsurvey-admin {
  --error-color:#800;
  --warning-color:#cc5200;
  --bright-error-color:#800;
  --pale-error-color:#f88;
}

#tlc-ttsurvey-admin form {
  margin-left: 15px;
  width: 100%;
  max-width: 750px;
}

#tlc-ttsurvey-admin form div.label {
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
}

#tlc-ttsurvey-admin form div.info,
#tlc-ttsurvey-admin form div.warning{
  margin-left: 30px;
  margin-bottom: 5px;
}

#tlc-ttsurvey-admin form div.warning {
  color:var(--error-color);
}

#tlc-ttsurvey-admin form span.info {
  font-weight: 200;
  font-size: smaller;
}

#tlc-ttsurvey-admin form div.input {
  margin-left: 30px;
}

#tlc-ttsurvey-admin form div.button-box {
  margin-top:20px;
}

#tlc-ttsurvey-admin form div.button-box .revert {
  float:right;
}

#tlc-ttsurvey-admin form .input-label {
  font-weight:bold;
}

#tlc-ttsurvey-admin form .input-info {
  margin-left: 5px;
  font-weight:200;
}

#tlc-ttsurvey-admin form table {
  border-collapse:collapse;
}

#tlc-ttsurvey-admin form th {
  border-bottom: 1px solid;
  padding-left:5px;
  padding-right:5px;
}

#tlc-ttsurvey-admin form td {
  margin:3px;
  padding-top:10px;
}

#tlc-ttsurvey-admin form td.name {
  font-weight:bold;
  text-align:right;
}

#tlc-ttsurvey-admin .tlc-status {
  font-size:smaller;
  font-weight:200;
  margin-left:20px;
  padding-left:10px;
  padding-right:10px;
  color:black;
}

#tlc-ttsurvey-admin .tlc-status.info,
#tlc-ttsurvey-admin .tlc-status.error {
  border:solid;
  border-width:1px;
  border-color:var(--pale-border-color);
}

#tlc-ttsurvey-admin .tlc-status.info {
  background:yellow;
}

#tlc-ttsurvey-admin .tlc-status.error {
  background:pink;
}

#tlc-ttsurvey-admin noscript.warning p {
  font-weight:bold;
  font-size:large;
  color:var(--error-color);
}

#tlc-ttsurvey-admin .requires-javascript {
  display:none;
}


/** 
 * Overview Tab
 **/


#tlc-ttsurvey-admin .overview div,
#tlc-ttsurvey-admin .overview table
{
  margin-left:15px;
}

#tlc-ttsurvey-admin .overview table table
{
  margin-left:0;
}

#tlc-ttsurvey-admin .overview h1,
#tlc-ttsurvey-admin .overview h2,
#tlc-ttsurvey-admin .overview h3
{
  margin-left:0px;
  margin-top:25px;
  margin-bottom:8px;
}

#tlc-ttsurvey-admin .overview li
{
  list-style-type: initial;
}

#tlc-ttsurvey-admin .overview td.label {
  font-weight: bold;
  vertical-align: top;
}

#tlc-ttsurvey-admin .overview td.name {
  font-weight: bolder;
  text-align:right;
}

#tlc-ttsurvey-admin .overview td.value {
  padding-left:5px;
  font-weight:200;
  text-align:left;
}

#tlc-ttsurvey-admin .overview .usage .note {
  margin-top:10px;
  font-weight:bolder;
}

#tlc-ttsurvey-admin .overview .usage .qual {
  padding-left:15px;
  font-weight:400;
  font-style:italic;
}

#tlc-ttsurvey-admin .overview .usage .args {
  margin-left:15px;
}

#tlc-ttsurvey-admin .overview .usage .args .arg {
  font-weight:bolder;
  margin-top:10px;
}

#tlc-ttsurvey-admin .overview .usage .args .info {
  margin-top:0;
  font-weight:400;
}

#tlc-ttsurvey-admin .overview .usage .example {
  padding-top:8px;
}

#tlc-ttsurvey-admin .overview .usage .example span {
  font-family: monospace;
  font-weight: bolder;
  font-size: medium;
  margin-left: 15px;
  padding: 4px;
  color: black;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#tlc-ttsurvey-admin .overview .info {
  max-width: 80%;
}


/**
 * Settings Tab
 */

#tlc-ttsurvey-admin form .settings,
#tlc-ttsurvey-admin .settings form table {
  margin-left:3em;
  margin-top:10px;
}

#tlc-ttsurvey-admin .settings .admin-error {
  margin-left:1em;
  font-weight:600;
  color:var(--bright-error-color);
}

#tlc-ttsurvey-admin .settings .input-label {
  padding-right:8px;
}

#tlc-ttsurvey-admin .settings table.caps td div {
  text-align:center;
}

#tlc-ttsurvey-admin .settings button.clear-log {
  color:white;
  background:#888;
  border-color:black;
  border-radius:5px;
  border-width:1px;
  font-size:14px;
  line-height:2;
  padding: 0 8px 0 8px;
  cursor:pointer;
}

#tlc-ttsurvey-admin .settings a.log-file {
  font-size:14px;
  font-weight:600;
}

#tlc-ttsurvey-admin .settings button.clear-log:hover {
  background:#999;
}


/**
 * Content Tab
 */

#tlc-ttsurvey-admin .content {
  max-width: 775px;
}

#tlc-ttsurvey-admin .content .past {
  position:relative;
}

#tlc-ttsurvey-admin .content div.info {
  margin-left:1.5em;
}

#tlc-ttsurvey-admin .content div.info ul.deco{
  margin:5px 0 5px 3em;
  list-style:disc;
}

#tlc-ttsurvey-admin .content div.info ul.deco li {
  margin:0;
}

#tlc-ttsurvey-admin .content div.revisions {
  margin-top: 8px;
}

#tlc-ttsurvey-admin .content div.info.lock {
  margin:1.5em;
  padding:3px 15px;
  background:#fd8;
  border:solid;
  border-width:1px;
}

#tlc-ttsurvey-admin .content div.info.unlocked {
  margin:3px 1.5em;
  padding:3px 15px;
  background:#cfc;
  border:solid;
  border-width:1px;
}

#tlc-ttsurvey-admin .content div.content-block {
  margin-left:1.5em;
}

#tlc-ttsurvey-admin .content div.content-block table.info {
  margin-left: 3em;
}

#tlc-ttsurvey-admin .content div.content-block table.info td{
  padding-left:3px;
  padding-top:0;
}

#tlc-ttsurvey-admin .content div.content-block table.info td:first-child {
  font-family:monospace;
  padding:0 5px 0 5px;
  background-color:var(--pale-border-color);
  text-align:center;
}

#tlc-ttsurvey-admin .content div.content-block h2 {
  margin: 20px 0 5px 0;
}

#tlc-ttsurvey-admin .content div.email-template {
  margin: 10px 0 0 20px;
}

#tlc-ttsurvey-admin .content div.email-template h3 {
  margin:1.5em 0 8px 0;
  font-size: 1.2em;
}

#tlc-ttsurvey-admin .content div.content-block textarea {
  width:calc(100% - 15px);
  margin-left:15px;
}

#tlc-ttsurvey-admin .content div.content-block textarea.survey {
  height:30em;
}

#tlc-ttsurvey-admin .content div.content-block textarea {
  height:10em;
}

#tlc-ttsurvey-admin .content .nav-tab-wrapper.survey {
  margin-bottom:15px;
}

#tlc-ttsurvey-admin .content .nav-tab-wrapper.block {
  margin-bottom:15px;
}

#tlc-ttsurvey-admin .content .nav-tab-wrapper.survey a.nav-tab,
#tlc-ttsurvey-admin .content .nav-tab-wrapper.block a.nav-tab {
  padding: 0 10px 0 10px;
}

#tlc-ttsurvey-admin .content div.menubar {
  margin: 1em 2em 1em 2em;
}

#tlc-ttsurvey-admin .content div.menubar a.nav-tab {
  padding: 0 10px 0 10px;
}

#tlc-ttsurvey-admin .content div.invalid {
  color:var(--bright-error-color);
  margin-right:2em;
  text-align:end;
  font-weight:bolder;
  display:none;
}

#tlc-ttsurvey-admin .content textarea.invalid {
  border-color:var(--bright-error-color);
}

#tlc-ttsurvey-admin div.block.sendmail h3 {
  margin-top:2em;
  margin-bottom:5px;
}

#tlc-ttsurvey-admin .sendmail.info {
  font-weight: 300;
  margin-bottom:1em;
}

#tlc-ttsurvey-admin .sendmail.preview {
  margin:8px 0 0 15px;
  padding:15px;
  border-style:double;
  border-width:medium;
  float:none;
  position:relative;
  background:#f8f8f8;
}

#tlc-ttsurvey-admin .sendmail.preview p {
  margin:5px 0;
}

#tlc-ttsurvey-admin div.sendmail.preview h1,
#tlc-ttsurvey-admin div.sendmail.preview h2,
#tlc-ttsurvey-admin div.sendmail.preview h3,
#tlc-ttsurvey-admin div.sendmail.preview h4
{
  margin:5px 0;
}

/**
 * Data Tab
 **/

#tlc-ttsurvey-admin form.data div.form-body {
  margin-left:30px;
  margin-right:30px;
  width:calc(100% - 60px);
}

#tlc-ttsurvey-admin form.data .form-body .info,
#tlc-ttsurvey-admin form.data .form-body .warning {
  margin-left:0;
}

#tlc-ttsurvey-admin form.data .link-buttons {
  margin: 10px 0 10px 1em;
  m
}

#tlc-ttsurvey-admin form.data .link-buttons a.data {
  font-size:14px;
  font-weight:600;
  cursor:pointer;
}


#tlc-ttsurvey-admin form.data.upload .header-box {
  display:flex;
  align-items:end;
  margin: 0 0 0 1em;
}

#tlc-ttsurvey-admin form.data.upload #upload-file {
  display:none;
}

#tlc-ttsurvey-admin form.data.upload a.data.upload {
  font-size:14px;
  font-weight:600;
  cursor:pointer;
}

#tlc-ttsurvey-admin form.data.upload span.status {
  display:none;
  float:right;
  margin-left:auto;
  margin-right:0;
  margin-top:0;
  margin-bottom:0;

  padding: 0 8px;
  font-size:smaller;
  font-weight:normal;
}

#tlc-ttsurvey-admin form.data.upload span.status.info {
  display:inline-block;
  color:black;
}

#tlc-ttsurvey-admin form.data.upload span.status.warning {
  display:inline-block;
  font-weight:500;
  color:var(--warning-color);
}

#tlc-ttsurvey-admin form.data.upload span.status.error {
  display:inline-block;
  font-weight:500;
  color:var(--error-color);
}

#tlc-ttsurvey-admin form.data.upload textarea {
  margin:0 0 0 1em;
  width:calc(100% - 1em);
}

/**
 * Other stuff
 **/

#tlc-ttsurvey-admin form.new-survey span.new-name {
  margin-left:1.5rem;
}

#tlc-ttsurvey-admin form.new-survey input.new-name {
  width:100px;
}

#tlc-ttsurvey-admin form.new-survey span.error {
  color:var(--error-color);
}

#tlc-ttsurvey-admin form.reopen-survey input[type=submit] {
  position:absolute;
  right:0;
}

p.tlc-post-warning {
  font-size:larger;
  font-weight:bold;
  color:var(--error-color);
}
p.tlc-post-info {
  font-size:larger;
}
